body {
  font-family: poppins;
  display: grid;
  place-items: center;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: #ce1126;
  border-radius: 10px;
  box-shadow: 0 10px 20px #ce1126;
  width: 500px;
  padding: 20px;
  margin: 20px auto;
  background-color: #006b3f;
}

h1 {
  width: 100%;
  justify-content: center;
  color: #fcd116;
}

#male {
  background-color: #fcd116;
  color: #006b3f;
  font-size: 20px;
  padding: 10px;
}

#female {
  background-color: #fcd116;
  color: #006b3f;
  font-size: 20px;
  padding: 10px;
}
p1 {
  color: aliceblue;
  font-size: medium;
}

.birthday {
  float: left;
  flex-direction: row;
  width: 500px;
  color: #006b3f;
  font-size: 20px;
  padding: 10px;
}

#submit {
  background-color: #fcd116;
  width: 500px;
  color: #006b3f;
  font-size: 20px;
  padding: 10px;
}
